.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: auto;
  text-align: center;
  z-index: 1;
  @extend %opacity-transition;
}

body {
  flex-direction: column;
  overflow-y: hidden;
}

.homepage {
  p {
    font-size: 24px;
    text-align: center;
    margin-top: 3%;
  }
  img {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 7%;
  }
  .menu {
    text-align: center;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    p {
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-size: 28px;
      position: relative;
      padding-bottom: 0.4%;
      &::after{
        background-color: white;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        transition: width .3s ease;
        width: 0;
      }
      &:hover{
        &::after{
          width: 100%;
        }
      }
    }
    p:nth-of-type(2) {
      margin-left: -20%;
    }
  }
}
