.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: auto;
  text-align: center;
  z-index: 1;
  @extend %opacity-transition;
}

body {
  flex-direction: column;
}

.homepage {
  overflow-y: hidden;
  p {
    font-size: 24px;
    text-align: center;
    margin-top: 3%;
  }
  img {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 7%;
  }
  .menu {
    text-align: center;
    margin-top: 6%;
    a:nth-of-type(1) {
      margin-right: 16%;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 28px;
    }
    a:hover {
      text-decoration: underline;
      transition: text-decoration 10s ease-out;
    }
  }
}

img {
  width: 20%;
  margin: 1% 0 0 3%;
}
input {
  padding: 20px;
  border: none;
  background: none;
  color: white;
  width: 20%;
  z-index: 10;
  border-bottom: 1px solid white;
  font-size: 20pt;
  margin: 3% 8% 0 0;
  input:focus {
    outline: none;
    z-index: 10;
    border: none;
  }
}
